:root{
    --SoftPrimaryorange: hsl(35, 77%, 62%);
    --SoftPrimaryred: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --GrayishNeutralblue: hsl(233, 8%, 79%);
    --DarkNeutralgrayishblue: hsl(236, 13%, 42%);
    --VeryNeutraldarkblue: hsl(240, 100%, 5%);

}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;

}

main{
    width: 21.44em;
    padding: 12px 8px 45px 8px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 1.3em;
    content: url('/assets/images/icon-menu.svg');
}

header img.open{
    content: url('/assets/images/icon-menu-close.svg');
}

h1{

    font-size: 3em;
    font-weight: 800;
}

p{
    font-size: 0.9375em;
    line-height: 1.5;
}

.menu-mobile{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--Off-white);
    width: 16em;
}

.menu-mobile.open{
    visibility: visible;
}

.list{
    position: relative;
    top: 150px;
    left: 15px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100vh;
    gap: 20px;
    font-size: 20px;

}

.list li:hover{
        color: var(--SoftPrimaryorange);
    }

.list li{
        cursor: pointer;
    }


#icon-menu{
    z-index: 1;
}

.principal-new{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    padding-top: 1em;
    height: 40%;
}

.image-principal{
    height: 300px;
    object-fit: cover;
}

h2{
    font-size: 3em;
    font-weight: 800;
}

.paragragh-button{
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    width: 100%;
}

button{
    width: 50%;
    background-color: var(--SoftPrimaryred);
    border: none;
    height: 2.5rem;
    font-size: 0.7em;
    letter-spacing: 0.3em;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: var(--VeryNeutraldarkblue);
    color:var(--Off-white);
}

.news{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--VeryNeutraldarkblue);
    color: var(--Off-white);
    /* height: 33%; */
    margin-top: 2em;
    padding: 1.3em 1.3em    ;
    justify-content: start;
}

h3{
    font-size: 2em;
    color: var(--SoftPrimaryorange);
}

.news article{
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5em;
}

.news article:nth-child(3){
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid var(--DarkNeutralgrayishblue);
    border-bottom: 1px solid var(--DarkNeutralgrayishblue);
}

h4{
    font-size: 1.3em;
    cursor: pointer;
}

h4:hover{
    color: var(--SoftPrimaryorange);
}

.news article p{
    color: var(--GrayishNeutralblue);
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 2em;
}

.img-article{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.img-article img{
    width: 33%;
}

.news-footer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

span{
    color: var(--SoftPrimaryred);
    font-size: 2em;
    font-weight: 800;
}

h5{
    font-size: 1.1em;
    font-weight: 800;
    cursor: pointer;

}

h5:hover{
    color: var(--SoftPrimaryred);
}

@media (min-width:48em){
   
    main{
        width: 40em;
        padding-top: 4.8em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    header img{
        display: none;
    }

    header .menu-mobile{
        visibility: visible;
        display: block; 
        width: 55%;
        position: unset;
        align-items: center;
    }

    
    .list{
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        font-size: 0.9em;
        height: 40px;
    }

    .list li{
        align-content: center;
        
    }

    

    .main-news{
        display: flex;
        flex-direction: row;
        width: 50em;
        gap: 1.5625em;
        height: 28.125em;
        padding-top: 3em;
    }

    .new-body-principal{
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding-top: 0.625em;
    }

    h2{
        font-size: 3em;
    }

    .image-principal{
        width: 25em;
        height: 16.5625em;
    }

    .principal-new{
        padding: 0;
        width:50%;
    }


    .paragragh-button{  
        justify-content: space-around;
        gap: 4em;
    }

    button{
        width: 80%;
    }

    .news{
        margin: 0;
        width: 23%;
        height: 25.525em;
    }

    h3{
        font-size: 1.5em;
    }

    h4{
        font-size: 0.8em;
    }

    p{
        font-size: 0.75em;
    }

    footer{
        flex-direction: row;
    }

    h5{
        font-size: 0.8em;
    }

    span{
        font-size: 1.2em;
    }

    footer p{
        font-size: 0.625em;
    }

    .img-article{
        height: 100%;
    }

    .img-article p{
        line-height: 1.5;
    }

    .img-article img{
        height: 6.785em;
    }
    .news-footer{
        gap: 0.7em;
    }
}

@media (min-width:90em){
    main{
        width: 60.74em;
        padding-top: 4.8em;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    header img{
        display: none;
    }

    header .menu-mobile{
        visibility: visible;
        display: block; 
        width: 40%;
        position: unset;
        align-items: center;
    }

    
    .list{
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        font-size: 0.9em;
        height: 40px;
    }

    .list li{
        align-content: center;
        
    }

    

    .main-news{
        display: flex;
        flex-direction: row;
        width: 60.94em;
        gap: 1.5625em;
        height: 28.125em;
        padding-top: 3em;
    }

    .new-body-principal{
        display: flex;
        flex-direction: row;
        gap: 5.125em;
        padding-top: 0.625em;
    }

    .image-principal{
        width: 40em;
        height: 16.5625em;
    }

    .principal-new{
        padding: 0;
        width: 66%;
    }


    .paragragh-button{
        justify-content: space-around;
        gap: 0;
    }

    .news{
        margin: 0;
        width: 33%;
        height: 25.525em;
    }

    h4{
        font-size: 1.1em;
    }

    p{
        font-size: 0.8em;
    }

    footer{
        flex-direction: row;
    }

    h5{
        font-size: 0.9em;
    }

    span{
        font-size: 1.7em;
    }

    footer p{
        font-size: 13px;
    }

    .img-article{
        height: 100%;
    }

    .img-article p{
        line-height: 1.5;
    }

    .img-article img{
        height: 6.785em;
    }
    .news-footer{
        gap: 0.7em;
    }
}